// These are for adjusting sizes in xterm
xterm*faceName: Monospace
xterm*faceSize: 14
xterm*vt100*geometry: 80x50
xterm*foreground: rgb:FF/FF/FF
xterm*background: rgb:00/00/00
// These are for adjusting sizes in i3
xterm*color0: rgb:00/00/00
xterm*color1: rgb:FF/00/00
xterm*color2: rgb:00/FF/00
xterm*color3: rgb:FF/FF/00
xterm*color4: rgb:AA/AA/FF
xterm*color5: rgb:FF/00/FF
xterm*color6: rgb:00/FF/FF
xterm*color7: rgb:FF/FF/FF
xterm*color8: rgb:00/00/00
xterm*color9: rgb:FF/00/00
xterm*color10: rgb:00/FF/00
xterm*color11: rgb:FF/FF/00
xterm*color12: rgb:AA/AA/FF
xterm*color13: rgb:FF/00/FF
xterm*color14: rgb:00/FF/FF
xterm*color15: rgb:FF/FF/FF
Xft.dpi: 120
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
